@import "navbar.css";
@import "polaroid.css";
@import "gallery.css";
@import "contact.css";
@import "lightbox.css";

html {
    background-color: #1a1a1a;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0.4rem;
}
 
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
    background-color: #ff0000;
}

.mt-1 {
    margin-top: 10rem;
}

.mt-2 {
    margin-top: 20rem;
}

.mt-3 {
    margin-top: 30rem;
}

.mt-6 {
    margin-top: 60rem;
}

.ml-5 {
    margin-left: 5%;
}

.mr-5 {
    margin-right: 5%;
}

.content {
    font-size: 1.8rem;
    color: rgb(255, 222, 173);
    font-family: 'Roboto Mono', monospace;
    cursor: default;
}

.title {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    color: rgb(255, 222, 173);
    font-family: 'Roboto Mono', monospace;
    cursor: default;
}

.text-changing span {
    transition: color 500ms;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
}

.table-bordered th, .table-bordered td {
    border: none;
}

.table-bordered {
    border: 3px dashed rgb(255, 222, 173);
}

.en {
    display: none;
}

#switch {
    margin-left: 1%;
    top: 0;
    position: fixed;
    z-index: 999;
    cursor: pointer;
}

#switch:hover {
    color: #ff0000;
    transition: color 500ms ease-in-out;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 1.5em;
    }

    .content {
        font-size: 1rem;
        text-align: justify-all;
    }

    .mr-5 {
        margin-right: 6%;
    }

    .ml-5 {
        margin-left: 6%;
    }
}
